@font-face {
  font-family: Lato;
  src: url("../img/Fuentes/Lato-Full-Version/DesktopFonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../img/Fuentes/Lato-Full-Version/DesktopFonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../img/Fuentes/Lato-Full-Version/DesktopFonts/Lato/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

body{
  font-family: 'Lato', sans-serif;
}

.borderLink{
  color: black;
  width: fit-content;
  text-decoration: none;
  background-image: linear-gradient(#E5AB87, #B37A5D);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;
}

.borderLink:hover {
  color: #6e6e6e !important;
  background-size: 100% 3px;
}

.borderLink:focus {
  color: #6e6e6e !important;
}

.borderBgDorado{
  background-image: linear-gradient(to right, #E4A883, #B37A5D , #E4A883);
  height: 12px;

}

.mariaGradient{
  background-image: linear-gradient(to right, #E9B390, #B47B5E, #E9B390);
  color: transparent;
  background-clip: text;
}

.galeria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);   
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.roundedProfile{
  border: solid white 2px;
  height: 200px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile1{
  background-image: url("../img/rrhh1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.profile2{
  background-image: url("../img/rrhh2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.profile3{
  background-image: url("../img/rrhh3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.profile4{
  background-image: url("../img/rrhh4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.borderGradient{
  height: 200px;
  width: 200px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #E9B390, #B47B5E, #E9B390) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}
.borderGradient:hover{
  background: linear-gradient(#1D1D1B, #1D1D1B) padding-box,
              linear-gradient(to right, #E9B390, #B47B5E, #E9B390) border-box;
  color: white;
  transition: all 300ms ease-in;
}
.bgDorado{
  background-image: linear-gradient(to right, #E9B390, #B47B5E, #E9B390);
}
.gridF{
  display: grid;
  grid-template-columns: 1fr;
}
.shadow-text{
  text-shadow: 3px 3px #383838;
}
.borderFooter{
    color: white;
    width: fit-content;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 0% 3px;
    transition: background-size 500ms ease-in-out;
    padding: 10px 0;

}
.borderFooter:hover {
  color: black !important;
  background-size: 100% 3px;
}

.borderFooter:focus {
  color: black !important;
}

@media (min-width: 770px) {
  .borderLink{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#E5AB87, #B37A5D);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 0% 3px;
    transition: background-size 500ms ease-in-out;
  }
  
  .borderLink:hover {
    color: #dddddd !important;
    background-size: 100% 3px;
  }
  
  .borderLink:focus {
    color: #dddddd !important;
  }
}

@media (min-width: 1024px){
  .gridF{
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr;
  }
} 

.carousel-item{
  transition: transform 3s ease-in-out, opacity 3s ease-in-out !important;
}

.carousel-fade .carousel-item{
  opacity: 0;
    transition-property: opacity;
    transform: none;
}