.borderLink{
  color: white;
  text-decoration: none;
  background-image: linear-gradient(#E5AB87, #B37A5D);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;
}

.borderLink:hover {
  color: #dddddd !important;
  background-size: 100% 3px;
}

.borderLink:focus {
  color: #dddddd !important;
}

.borderBgDorado{
  background-image: linear-gradient(to right, #E4A883, #B37A5D , #E4A883);
  height: 12px;

}

.bgMaria{
  background-image: url("../img/Foto_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mariaGradient{
  background-image: linear-gradient(to right, #E9B390 35%, #B47B5E 30%, #E9B390 35%);
  color: transparent;
  background-clip: text;
}