.borderLink{
  color: white;
  text-decoration: none;
  background-image: linear-gradient(#E5AB87, #B37A5D);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;
}

.borderLink:hover {
  color: #dddddd !important;
  background-size: 100% 3px;
}

.borderLink:focus {
  color: #dddddd !important;
}

.borderBgDorado{
  background-image: linear-gradient(to right, #E4A883, #B37A5D , #E4A883);
  height: 12px;

}

.bgMaria{
  background-image: url("../img/Foto_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mariaGradient{
  background-image: linear-gradient(to right, #E9B390 35%, #B47B5E 30%, #E9B390 35%);
  color: transparent;
  background-clip: text;
}

.galeria{
  display: grid;
  grid-template-areas: 
    "img1 colDorada img2 img2"
    "img1 img3 img3 img4";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.brandImg{
  background-image: url("../img/brandLogos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.roundedProfile{
  border: solid white 2px;
  height: 200px;
  width: 200px;
}

.profile1{
  background-image: url("../img/perfilRedondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.borderGradient{
  height: 200px;
  width: 200px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #E9B390 35%, #B47B5E 30%, #E9B390 35%) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}
.borderGradient:hover{
  background: linear-gradient(#1D1D1B, #1D1D1B) padding-box,
              linear-gradient(to right, #E9B390 35%, #B47B5E 30%, #E9B390 35%) border-box;
  color: white;
  transition: all 300ms ease-in;
}
.bgDorado{
  background-image: linear-gradient(to right, #E9B390 35%, #B47B5E 30%, #E9B390 35%);
}